<h1><%=@user.name %></h1>
<h3>I Miei Eventi</h3>
<div class="container">
	<%= render partial: 'layouts/event_display', locals: { list: @user.hosted_events } %>
</div>
<h3>Eventi a cui partecipero</h3>
<div class="container">
	<%= render partial: 'layouts/event_display', locals: { list: @user.attended_events } %>
</div>