<h1>Tutti Gli Eventi</h1>
<h2>Imminente</h2>

<%= render partial: 'layouts/event_display', locals: { list: @upcoming } %>

<h2>Gia Successo</h2>
<%= render partial: 'layouts/event_display', locals: { list: @past } %>





